<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Django Last.FM Dash</title>
</head>
<body class="lastfm_dashboard">
  <div class="__">
  	<ul>
  		<li></li>
  	</ul>
  </div>
</body>
</html>
